div#container {
  width: 100%;
  text-align: center;
}

div#myMap {
  position: relative;
}

div.popup {
  background-color: black;
  width: 250px;
  height: 400px;
  position: absolute;
  top: 150px;
  left: 100px;
  padding: 10px;
  overflow: scroll;
  z-index: 9999;
}

.popup img {
  margin: auto;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
  z-index:10000;
}

.popup p {
  display: inline;
  z-index:10000;
}

