div#container {
  width: 100%;
  text-align: center;
}

div#myMap {
  position: relative;
}

div.popup {
  width: 250px;
  height: 400px;
  position: absolute;
  padding: 10px;
  overflow: scroll;
  z-index: 99;
}

.popup img {
  margin: auto;
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

.popup p {
  display: inline;
}

